sphinx_rtd_theme
demandlib
networkx >= 2.0
pandas >=0.24.0, <=0.24.0
pypsa >=0.15.0
pyproj >=1.9.5.1, <=1.9.5.1
geopy >=1.11.0, <=1.11.0
pyomo >= 5.5.0
multiprocess
workalendar
egoio >= 0.4.7
matplotlib
pypower