dash < 2.9.0
demandlib
egoio >= 0.4.7
geopy >= 2.0.0
jupyter_dash
matplotlib >= 3.3.0
multiprocess
networkx >= 2.5.0
pandas >= 1.4.0
plotly
pyomo >= 6.0
pypower
pyproj >= 3.0.0
pypsa >=0.17.0, <=0.20.1
pyyaml
saio
scikit-learn
sphinx
sphinx_rtd_theme >=0.5.2
sphinx-autodoc-typehints
sphinx-autoapi
sshtunnel
urllib3 < 2.0.0
workalendar
